h1 {
    color:blue:
    font-family: cursive;
    font-size: 140px;
}

<aside { 
    color:red:
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 60px;
}

body {
    background-color:white;
}

